/*mixins*/
/*variables*/
:root {
  --accent-font-color-1st: #F1CDB3;
  --accent-font-color-2nd: #FDDCC4;
  --main-font-color-1st: #000000;
  --main-font-color-2nd: #292929;
  --main-font-color-3rd: #545454;
  --main-font-color-4th: #B2B2B2;
  --main-font-color-5th: #FFFFFF;
  --main-font-color-6th: #4C4C4C;
  --main-font-color-7th: #CDCDCD;
  --main-font-color-8th: #FAFAFA;
  --accent-color-1st: #F1CDB3;
  --accent-color-2nd: #FDDCC4;
  --main-color-1st: #FFFFFF;
  --main-color-2nd: #F6F6F6;
  --main-color-3rd: #FAFAFA;
  --main-color-4th: #CDCDCD;
}

:root {
  --size-page-box-width-display: 1280px;
  --size-page-box-width-tablet: 768px;
  --size-page-box-width-mobile: 320px;
}
@media (min-width: 1280px) {
  :root {
    /*desktop break-point*/
    --page-box-horizontal-padding: 40px;
  }
}
@media (max-width: 1279px) {
  :root {
    /*tablet upper break-point*/
    --page-box-horizontal-padding: 30px;
  }
}
@media (max-width: 767px) {
  :root {
    /*phone upper break-point*/
    --page-box-horizontal-padding: 10px;
  }
}

/*fonts*/
@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (min-width: 1280px) {
  .page__wrapper {
    /*desktop break-point*/
    max-width: var(--size-page-box-width-display);
    padding-left: var(--page-box-horizontal-padding);
    padding-right: var(--page-box-horizontal-padding);
    margin: auto;
  }
}
@media (max-width: 1279px) {
  .page__wrapper {
    /*tablet upper break-point*/
    min-width: var(--size-page-box-width-mobile);
    padding-left: var(--page-box-horizontal-padding);
    padding-right: var(--page-box-horizontal-padding);
  }
}

/*link*/
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
}
.link--navigation {
  font: normal 15px / 1.6 Arial, sans-serif;
  color: var(--main-font-color-6th);
  letter-spacing: normal;
}
.link--negative-style {
  color: var(--main-font-color-7th);
}
.navitation-links__item--active .link--negative-style {
  color: var(--main-font-color-8th);
}
.link--negative-style:hover {
  color: var(--main-font-color-8th);
}
.link--positive-style {
  color: var(--main-font-color-3rd);
}
.navitation-links__item--active .link--positive-style {
  color: var(--main-font-color-3rd);
}
.link--positive-style:hover {
  color: var(--main-font-color-2nd);
}
.link--button-format {
  display: inline-block;
  padding: 13px 43px;
  border-radius: 27px;
  border: 2px solid var(--accent-color-1st);
  font: normal 17px / 1.3 "Georgia", serif;
  color: var(--main-font-color-2nd);
  letter-spacing: 0.06em;
}
.link--button-format:hover {
  background-color: var(--accent-color-2nd);
  border-color: var(--accent-color-2nd);
}
.link--button-format-accent {
  background-color: var(--accent-color-1st);
}
.link--footer {
  display: flex;
  align-items: center;
  gap: 20px;
  font: normal 20px / 1.15 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
  color: var(--accent-font-color-1st);
}
.link--footer:hover {
  color: var(--accent-font-color-2nd);
}
.link--footer svg {
  fill: currentColor;
  flex-shrink: 0;
}

/*button*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition-property: background-color, border-color, color, fill;
  transition-duration: 0.3s;
}
.button:hover {
  background-color: var(--accent-color-2nd);
  border-color: var(--accent-color-2nd);
}
.button:active {
  background-color: var(--accent-color-1st);
  border-color: var(--accent-color-1st);
}
.button:disabled {
  border-color: var(--main-color-4th);
  color: var(--main-color-4th);
  pointer-events: none;
}
.button:disabled svg {
  fill: currentColor;
}
.button--circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--accent-color-1st);
  font: normal 20px / 1.15 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
  color: var(--main-font-color-2nd);
}
.button--prev svg {
  transform: rotate(0);
}
.button--next svg {
  transform: rotate(180deg);
}
.button--active {
  background-color: var(--accent-color-1st);
}

/*logo*/
.logo .logo__title,
.logo .logo__description {
  transition: color 0.2s;
}
.logo--home-page {
  pointer-events: none;
}
.logo__title {
  width: max-content;
  font: normal 32px/1.1 Georgia, serif;
  letter-spacing: 0.06em;
  color: var(--accent-font-color-1st);
  user-select: none;
}
.logo__description {
  width: max-content;
  margin-top: 8px;
  margin-left: 5px;
  font: normal 13px Arial, sans-serif;
  letter-spacing: 0.1em;
  color: var(--main-font-color-5th);
  user-select: none;
}
.logo--monochrome .logo__title,
.logo--monochrome .logo__description {
  color: var(--main-font-color-3rd);
}
.logo:hover .logo__title,
.logo:hover .logo__description {
  color: var(--accent-color-1st);
}

/*navigation component*/
.page-header {
  position: absolute;
  width: 100%;
  padding: 32px 0 29px;
}
.page-header--flow {
  position: static;
}
.page-header--light {
  color: var(--main-color-1st);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navitation-links {
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navitation-links__item--active {
  position: relative;
  pointer-events: none;
}
.navitation-links__item--active::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  content: "";
  height: 3px;
  background-color: var(--accent-color-1st);
}

.main-navigation__burger-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}
.main-navigation__burger-button span {
  background-color: var(--accent-color-1st);
  height: 2px;
  width: 100%;
}

@media (max-width: 767px) {
  /*phone upper break-point*/
  .main-navigation__navitation-links {
    display: none;
  }
  .main-navigation__burger-button {
    display: flex;
  }
  .main-navigation__burger-button span {
    background-color: var(--main-font-color-1st);
  }
  .page-header__main-navigation {
    padding: 0 10px;
  }
}
/*hero-section*/
.hero-section {
  background-image: url("../../images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.hero-section .page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  padding-top: 344px;
  padding-bottom: 242px;
  background-image: url("../../images/start-screen-puppy-desktop.png");
  background-repeat: no-repeat;
  background-position: right var(--page-box-horizontal-padding) bottom;
}

.hero-section__slogan {
  max-width: 310px;
  font: normal 44px / 1.3 "Georgia", serif;
  color: var(--main-font-color-5th);
  letter-spacing: normal;
}
.hero-section__slogan br {
  display: none;
}

.hero-section__text {
  max-width: 460px;
  font: normal 15px / 1.6 Arial, sans-serif;
  color: var(--main-font-color-6th);
  letter-spacing: normal;
  color: var(--main-font-color-7th);
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .hero-section .page__wrapper {
    padding-top: 150px;
    padding-left: calc(var(--page-box-horizontal-padding) + 124px);
    padding-right: calc(var(--page-box-horizontal-padding) + 124px);
    padding-bottom: 693px;
    background-image: url("../../images/start-screen-puppy-tablet.png");
  }
  .hero-section__link {
    align-self: center;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .hero-section .page__wrapper {
    padding-left: var(--page-box-horizontal-padding);
    padding-right: var(--page-box-horizontal-padding);
    padding-bottom: 377px;
    align-items: center;
    background-image: url("../../images/start-screen-puppy-mobile.png");
  }
  .hero-section__slogan {
    font: normal 25px / 1.3 "Georgia", serif;
    color: var(--main-font-color-5th);
    letter-spacing: 0.06em;
    text-align: center;
  }
  .hero-section__slogan br {
    display: inline;
  }
  .hero-section__text {
    text-align: center;
  }
}
/*about-section*/
.about {
  padding: 80px 0 100px;
}
.about .page__wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 120px;
}

.about__column-decorative-image {
  width: calc(50% - 5px - 120px);
  min-width: 300px;
  max-height: 408px;
  aspect-ratio: 300/408;
  background-image: url("../../images/about-pets-desktop.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.about__column-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: calc(50% + 5px);
}

.about__title {
  max-width: 430px;
  font: normal 35px / 1.3 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
}

.about__text {
  max-width: 430px;
  font: normal 15px / 1.6 Arial, sans-serif;
  color: var(--main-font-color-6th);
  letter-spacing: normal;
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .about .page__wrapper {
    justify-content: center;
    gap: 80px;
  }
  .about__column-decorative-image,
  .about__column-text {
    width: auto;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .about__title {
    font: normal 25px / 1.3 "Georgia", serif;
    color: var(--main-font-color-2nd);
    letter-spacing: 0.06em;
    text-align: center;
    align-self: center;
  }
  .about__column-text {
    padding: 0 15px;
    text-align: justify;
  }
  .about {
    padding-top: 42px;
    padding-bottom: 39px;
  }
  .about .page__wrapper {
    gap: 42px;
  }
  .about__column-decorative-image {
    min-width: 260px;
  }
}
/*pet-list*/
.pet-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  width: 100%;
  padding-left: calc(52px + var(--page-box-horizontal-padding));
  padding-right: calc(52px + var(--page-box-horizontal-padding));
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 90px;
}
.pet-list__item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  gap: 30px;
  margin: 0 auto;
  width: 270px;
  height: 435px;
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: var(--main-color-3rd);
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.pet-list__item--square {
  border-radius: 0;
}
.pet-list__item:hover {
  background-color: var(--main-color-1st);
  filter: drop-shadow(0px 0px 8px var(--main-color-4th));
}
.pet-list__item:hover .pet-list__link {
  background-color: var(--accent-font-color-2nd);
  border-color: var(--accent-font-color-2nd);
}
.pet-list__pet-name {
  order: 2;
  font: normal 20px / 1.15 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
}
.pet-list__pet-species {
  display: none;
  font: normal 20px / 1.15 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
}
.pet-list__pet-photo {
  order: 1;
  width: 100%;
  object-fit: cover;
}
.pet-list__pet-description {
  display: none;
  font: normal 15px / 1.1 "Georgia", serif;
  color: var(--main-font-color-1st);
  letter-spacing: 0.06em;
}
.pet-list__pet-vitals {
  display: none;
  font: normal 15px / 1.1 "Georgia", serif;
  color: var(--main-font-color-1st);
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pet-list__pet-vitals dt {
  font: bold 15px / 1.1 "Georgia", serif;
  color: var(--main-font-color-1st);
  letter-spacing: normal;
}
.pet-list__pet-vitals dd {
  margin: 0;
}
.pet-list__pet-vitals-line {
  position: relative;
  padding-left: 14px;
  display: flex;
  gap: 0.3em;
}
.pet-list__pet-vitals-line::after {
  position: absolute;
  content: "";
  inset: 0 auto 0 0;
  margin: auto 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--accent-color-1st);
}
.pet-list__link {
  order: 3;
}

.pet-list__item:nth-of-type(n + 4) {
  display: none;
}
.pet-list--long {
  flex-wrap: wrap;
  gap: 30px 40px;
}
.pet-list--long .pet-list__item {
  display: flex;
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .pet-list {
    grid-template-columns: repeat(2, 270px);
  }
  .pet-list__item:nth-of-type(n + 3) {
    display: none;
  }
  .our-friends--details .pet-list__item:nth-of-type(n) {
    display: flex;
  }
  .our-friends--details .pet-list__item:nth-of-type(n + 7) {
    display: none;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .pet-list {
    gap: 30px 40px;
    grid-template-columns: repeat(1, 270px);
    padding-left: 0;
    padding-right: 0;
  }
  .pet-list__item:nth-of-type(n + 2) {
    display: none;
  }
  .our-friends--details .pet-list__item:nth-of-type(n + 4) {
    display: none;
  }
}
/*our-friends-section*/
.our-friends {
  padding: 80px 0 100px;
  background-color: var(--main-color-2nd);
}
.our-friends .page__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 59px;
  align-items: flex-start;
  align-items: center;
}
.our-friends__button-layout {
  position: absolute;
  inset: 0;
  margin: auto 0;
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--page-box-horizontal-padding);
  transform: translateY(19px);
}
.our-friends__title {
  font: normal 35px / 1.3 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
  text-align: center;
}

.our-friends--details .our-friends__pet-list {
  padding-left: 0;
  padding-right: 0;
  grid-template-columns: repeat(auto-fit, 270px);
}
.our-friends--details .page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  align-items: center;
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .our-friends--details {
    padding-bottom: 76px;
  }
  .our-friends--details .page__wrapper {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .our-friends {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .our-friends .page__wrapper {
    gap: 42px;
  }
  .our-friends__title {
    font: normal 25px / 1.3 "Georgia", serif;
    color: var(--main-font-color-2nd);
    letter-spacing: 0.06em;
    text-align: center;
  }
  .our-friends__button-layout {
    position: static;
    transform: none;
    justify-content: center;
    gap: 80px;
  }
}
/*help-section*/
.help {
  padding: 80px 0 100px;
}
.help .page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  align-items: center;
}
.help__title {
  font: normal 35px / 1.3 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
  text-align: center;
}

@media (max-width: 767px) {
  /*phone upper break-point*/
  .help {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .help .page__wrapper {
    gap: 42px;
  }
  .help__title {
    font: normal 25px / 1.3 "Georgia", serif;
    color: var(--main-font-color-2nd);
    letter-spacing: 0.06em;
  }
  .help .help__donation-shop {
    width: 290px;
    margin: 0 auto;
  }
}
/*donation-shop*/
.donation-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 120px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 0 85px;
}
.donation-shop__category {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  align-items: center;
  cursor: pointer;
}
.donation-shop__category svg {
  flex-shrink: 0;
  transition-property: fill;
  transition-duration: 0.3s;
  fill: var(--accent-color-1st);
}
.donation-shop__category:hover svg {
  fill: var(--accent-color-2nd);
}
.donation-shop__category-title {
  font: normal 20px / 1.15 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .donation-shop {
    gap: 55px 60px;
    padding: 0 39px;
  }
  .donation-shop__category {
    width: 170px;
    height: 113px;
    gap: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .donation-shop {
    gap: 30px;
    padding: 0;
    justify-content: flex-start;
  }
  .donation-shop__category {
    width: 130px;
    height: 87px;
  }
  .donation-shop__category svg {
    width: 50px;
    height: 50px;
  }
  .donation-shop__category-title {
    font: normal 15px / 1.1 "Georgia", serif;
    color: var(--main-font-color-3rd);
    letter-spacing: 0.06em;
  }
}
/*donation*/
.donation {
  padding: 80px 0 99px;
  background-color: var(--main-color-2nd);
}
.donation .page__wrapper {
  display: flex;
  gap: 30px;
}
.donation__text-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  align-items: flex-start;
  order: 1;
  flex-basis: calc(50% - 65px);
}
.donation__text {
  font: normal 35px / 1.3 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
}
.donation__bank-info {
  font: normal 15px / 1.1 "Georgia", serif;
  color: var(--main-font-color-1st);
  letter-spacing: 0.06em;
}
.donation__card-number {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  font: normal 20px / 1.15 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
  background-color: var(--accent-color-1st);
  border-radius: 9px;
}
.donation__card-number svg {
  flex-shrink: 0;
}
.donation__legal-info {
  font: italic 12px / 18px Arial, sans-serif;
  color: var(--main-font-color-4th);
  letter-spacing: normal;
  max-width: 380px;
}
.donation__decorative-image-container {
  order: 0;
  flex-basis: calc(50% + 65px);
  min-height: 261px;
  min-width: 505px;
  background-image: url("../../images/donation-dog-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom 11px right;
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .donation .page__wrapper {
    flex-wrap: wrap-reverse;
    justify-content: center;
    row-gap: 60px;
  }
  .donation__decorative-image-container {
    flex-basis: auto;
    background-position: bottom center;
    background-size: contain;
    min-width: auto;
    aspect-ratio: 505/261;
    width: 100%;
    max-width: 505px;
    min-height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .donation__text-column {
    flex-basis: auto;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .donation {
    padding-top: 40px;
    padding-bottom: 42px;
  }
  .donation .page__wrapper {
    row-gap: 42px;
  }
  .donation__text-column {
    margin-left: 9px;
    margin-right: 9px;
    align-items: center;
  }
  .donation__text {
    text-align: center;
    font: normal 25px / 1.3 "Georgia", serif;
    color: var(--main-font-color-2nd);
    letter-spacing: 0.06em;
    color: var(--main-font-color-3rd);
  }
  .donation__bank-info {
    text-align: center;
    font: normal 15px / 1.1 "Georgia", serif;
    color: var(--main-font-color-1st);
    letter-spacing: 0;
    line-height: 1.45;
    color: var(--main-font-color-1st);
  }
  .donation__legal-info {
    text-align: justify;
  }
  .donation__card-number {
    font: normal 15px / 1.1 "Georgia", serif;
    color: var(--main-font-color-3rd);
    letter-spacing: 0.06em;
    color: var(--main-font-color-3rd);
    align-self: center;
  }
}
/*page-footer*/
.page-footer {
  background-image: url("../../images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.page-footer .page__wrapper {
  padding-top: 56px;
  height: 100%;
  background-image: url("../../images/footer-puppy-desktop.png");
  background-repeat: no-repeat;
  background-position: right var(--page-box-horizontal-padding) bottom;
}
.page-footer__shelter-address {
  display: flex;
  flex-wrap: wrap;
  gap: 116px;
  padding-bottom: 53px;
}
.page-footer__address-column {
  font-style: normal;
  flex-shrink: 0;
}
.page-footer__address-label {
  font: normal 35px / 1.3 "Georgia", serif;
  color: var(--main-font-color-3rd);
  letter-spacing: 0.06em;
  color: var(--main-font-color-5th);
}
.page-footer__address-points-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  flex-basis: 1px;
  flex-grow: 1;
  flex-shrink: 0;
}
.page-footer__address-points-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  transform: translateY(-7px);
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .page-footer .page__wrapper {
    padding-top: 30px;
    padding-bottom: 315px;
    background-position: center bottom;
  }
  .page-footer .page-footer__column:last-of-type {
    display: none;
  }
  .page-footer__shelter-address {
    padding-left: 34px;
    padding-right: 34px;
    gap: 36px;
  }
}
@media (max-width: 767px) {
  /*phone upper break-point*/
  .page-footer__address-label {
    font: normal 25px / 1.3 "Georgia", serif;
    color: var(--main-font-color-2nd);
    letter-spacing: 0.06em;
    color: var(--main-font-color-5th);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .page-footer__shelter-address {
    padding-left: 0;
    padding-right: 0;
    gap: 40px;
  }
  .page-footer__column {
    min-width: 300px;
    align-items: center;
  }
  .page-footer__column br {
    display: none;
  }
  .page-footer .page__wrapper {
    background-image: url("../../images/footer-puppy-mobile.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 255px;
  }
  .page-footer__address-points-list {
    transform: translate(0);
    gap: 40px;
  }
}
.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.pagination__prev-button-group, .pagination__page-number-group, .pagination__next-button-group {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  /*phone upper break-point*/
  .pagination {
    gap: 10px;
  }
  .pagination__prev-button-group, .pagination__page-number-group, .pagination__next-button-group {
    gap: 10px;
  }
}
.pet-slider {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.pet-slider__viewport {
  padding-bottom: 60px;
}

.pet-slider--short {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  align-items: center;
}
.pet-slider--short .pet-slider__viewport {
  padding-bottom: 0;
}

@media (max-width: 1279px) {
  /*tablet upper break-point*/
  .pet-slider__viewport {
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
