.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 0;
  background-color: white;
  width: 375px;
  color: var(--main-color-4);
  background-color: var(--main-color-10);
  overflow: auto;

  &__headline {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    line-height: 100%;
    font-weight: 600;
  }

  &__reset-button {
    margin: 0 20px;
  }

  &__task-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    line-height: 100%;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: var(--main-color-7);
    }

    &:active {
      background-color: var(--main-color-5);
    }

    .check-mark {
      fill: var(--main-color-4);
    }

    &--complete {
      .check-mark {
        fill: var(--accent-color-5);
      }
    }

    &--current {
      background-color: var(--main-color-5);

      &:hover {
        background-color: var(--main-color-5);
      }
    }
  }

  &__item-name {
    flex-grow: 1;
  }

  &__complete-mark {
    fill: var(--main-color-4);
  }
}