:root {
  --main-color-1: #ffffff;
  --main-color-2: #efefef;
  --main-color-9: #dddddd;
  --main-color-3: #a4a3a1;
  --main-color-4: #777777;
  --main-color-5: #54524e;
  --main-color-6: #2e2a24;
  --main-color-7: #25221d;
  --main-color-10: #1b1813;
  --main-color-8: #000000;
  --accent-color-1: #d69038;
  --accent-color-2: brown;
  --accent-color-3: #066c9b;
  --accent-color-4: #d3dee2;
  --accent-color-5: #2e8b43;
}
