.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__description {
    display: none;
    // display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: var(--main-color-2);
    color: var(--main-color-4);
  }

  &__title {
    color: var(--main-color-5);
    font-weight: 600;
    font-size: 1.2em;
  }

  &__text--strong {
    color: var(--main-color-4);
    font-weight: 600;
  }

  &__code {
    padding: 10px;
    background-color: var(--main-color-9);
  }

  &__submit-button {
    align-self: flex-start;
  }
}