.playground {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 20px 20px;
  align-items: center;
  overflow: auto;

  &__description {
    color: var(--main-color-4);
    font-size: 28px;
    text-align: center;
  }

  &__note {
    width: 80%;
  }

  &__table {
    margin-bottom: 20px;

    .lightup {
      box-shadow: 0 0 0 6px rgba(255,255,255,.4);
    }
    
    plate .lightup {
      box-shadow: 0 0 0 6px rgba(0,0,0,.3);
    }
  }

  &__help {
    width: 375px;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
  }

  &__menu {
    position: fixed;
  }

  &__tooltip {
    display: none;
    position: absolute;
    width: max-content;
    background: var(--main-color-1);
    padding: 10px 15px 12px 15px;
    z-index: 3;
    font-size: 15px;
    color: var(--main-color-6);
    border-bottom: solid 2px var(--main-color-2);
    box-shadow: 0px 5px 0px rgba(0,0,0,.2);
    outline: solid 1px transparent;

    &--visible {
      display: block;
    }

    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }

  @media (min-width: 1024px) {
    &__description {
      font-size: 36px;
    }
  }
}
