.range-slider {
  justify-self: flex-start;
  -webkit-appearance: none;
  height: 8px;
  background: var(--additional-color-1);
  border-radius: 4px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--additional-color-7);
    cursor: ew-resize;
  }

  &::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}