@keyframes menu-fly-in-from-right {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes menu-fly-out-to-right {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(100%)
  }
}

@keyframes slider-fly-in-from-right {
  0% {
    filter: saturate(0);
    opacity: 0.5;
  }

  50% {
    filter: saturate(0);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}