/*about-section*/

.about {
  padding: 80px 0 100px;
  .page__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 120px;
  }
}

.about__column-decorative-image {
  width: calc(50% - 5px - 120px);
  min-width: 300px;
  max-height: 408px;
  aspect-ratio: 300 / 408;
  background: {
    image: url("../../images/about-pets-desktop.png");
    repeat: no-repeat;
    position: center right;
    size: contain;
  }
}

.about__column-text {
  @include flex-vertical(24px);
  width: calc(50% + 5px);
}

.about__title {
  max-width: 430px;
  @include title-font-style-desktop();
}

.about__text {
  max-width: 430px;
  @include body-font-style-desktop();
}

@include for-tablet-portrait-down {
  .about {
    .page__wrapper {
      justify-content: center;
      gap: 80px;
    }
  }
  .about__column-decorative-image,
  .about__column-text {
    width: auto;
    padding-left: 139px;
    padding-right: 139px;
  }

  .about__column-text {
    width: 100%;
  }

  .about__text {
    max-width: none;
  }
}

@include for-phone-portrait-down {
  .about__title {
    @include title-font-style-mobile;
    color: var(--main-font-color-3rd);
    text-align: center;
    align-self: center;
  }

  .about__column-text {
    padding: 0 15px;
    text-align: justify;
  }

  .about {
    padding-top: 42px;
    padding-bottom: 39px;
    .page__wrapper {
      gap: 42px;
    }
  }

  .about__column-decorative-image {
    min-width: 260px;
    padding-left: 0;
    padding-right: 0;
  }
}



