.hero-section {
  background-image: 
  url("/shelter/assets/images/noise_transparent@2x.png"),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}


.hero-section .page__wrapper {
  @include flex-vertical(42px);
  padding: 243px $section-horizontal-padding;
  background-image: 
  url("/shelter/assets/images/start-screen-puppy-desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.hero-section__slogan {
  width: 310px;
  @include display-font-style-desktop();
}

.hero-section__text {
  width: 460px;
  @include body-font-style-desktop();
  color: var(--main-font-color-7th);
}