/*navigation component*/

.page-header {
  position: absolute;
  width: 100%;
  padding: 32px 0 29px;

  &--flow {
    position: static;
  }

  &--light {
    color: var(--main-color-1st);
  }
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navitation-links {
  display: flex;
  gap: 35px;
  @include normallized-list();
}

.navitation-links__item--active {
  position: relative;
  pointer-events: none;
  &::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    content: "";
    height: 3px;
    background-color: var(--accent-color-1st);
  }
}

.main-navigation__burger-button {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  & span {
    background-color: var(--accent-color-1st);
    height: 2px;
    width: 100%
  }
}

@include for-phone-portrait-down {

  .main-navigation__navitation-links {
    display: none;
  }

  .main-navigation__burger-button {
    display: flex;
  }

  .page-header__main-navigation {
    padding: 0 10px;
  }
}