.our-friends-details {
  .our-friends__pet-list {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(4, 270px);
  }
  .page__wrapper {
    @include flex-vertical(60px);
    align-items: center;
  }
}