
.page-footer {
  padding-top: 56px;
  background-image:
  url("/shelter/assets/images/noise_transparent@2x.png"),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);

  .page__wrapper {
    padding: 0 $section-horizontal-padding;
    height: 100%;
    background: {
      image: url("/shelter/assets/images/footer-puppy-desktop.png");
      repeat: no-repeat;
      position: right bottom;
    }
  }

  &__shelter-address {
    display: flex;
    padding-bottom: 60px;
  }

  &__address-column {
    font-style: normal;
  }

  &__address-label {
    @include title-font-style-desktop;
    color: var(--main-font-color-5th);
  }

  &__address-points-list {
    @include normallized-list;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 33.33%;
    flex-shrink: 0;
  }

  &__address-points-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}