/*pet-list*/

.pet-list {
  @include normallized-list();
  display: grid;
  width: 100%;
  padding-left: calc(52px + var(--page-box-horizontal-padding));
  padding-right: calc(52px + var(--page-box-horizontal-padding));
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 90px;

  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    gap: 30px;
    margin: 0 auto;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    border-radius: 9px;
    background-color: var(--main-color-3rd);
    overflow: hidden;
    cursor: pointer;
    transition: filter 0.3s ease;

    &--square {
      border-radius: 0;
    }

    &:hover {
      .pet-list__link {
        background-color: var(--accent-font-color-2nd);
        border-color: var(--accent-font-color-2nd);
      }

      background-color: var(--main-color-1st);
      filter: drop-shadow(0px 0px 8px var(--main-color-4th));
    }
  }



  &__pet-name {
    order: 2;
    @include label-font-style-desktop();
  }
  
  &__pet-species {
    display: none;
    @include label-font-style-desktop();
  }

  &__pet-photo {
    order: 1;
    width: 100%;
    object-fit: cover;
  }

  &__pet-description {
    display: none;
    @include body-compact-font-style-desktop();
  }

  &__pet-vitals {
    display: none;
    @include body-compact-font-style-desktop();
    @include normallized-list();

    dt {
      @include body-term-compact-font-style-desktop();
    }

    dd {
      margin: 0;
    }
  }

  &__pet-vitals-line {
    position: relative;
    padding-left: 14px;
    display: flex;
    gap: 0.3em;

    &::after {
      position: absolute;
      content: "";
      inset: 0 auto 0 0;
      margin: auto 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--accent-color-1st);
    }
  }

  &__link {
    order: 3;
  }
}

.pet-list {
  &__item:nth-of-type(n + 4) {
    display: none;
  }
  &--long {
    flex-wrap: wrap;
    gap: 30px 40px;
    .pet-list__item {
      display: flex;
    } 
  }
}

@include for-tablet-portrait-down {
  .pet-list {
    grid-template-columns: repeat(2, 270px);
  }

  .pet-list__item:nth-of-type(n + 3) {
    display: none;
  }

  .our-friends--details .pet-list__item:nth-of-type(n) {
    display: flex;
  }

  .our-friends--details .pet-list__item:nth-of-type(n + 7) {
    display: none;
  }
}

@include for-tablet-portrait-down {
  .pet-list {
    gap: 30px 40px;
  }
}

@include for-phone-portrait-down {
  .pet-list {
    gap: 30px 40px;
    grid-template-columns: repeat(1, 270px);
    padding-left: 0;
    padding-right: 0;
  }

  .pet-list__item:nth-of-type(n + 2) {
    display: none;
  }

  .our-friends--details .pet-list__item:nth-of-type(n + 4) {
    display: none;
  }

}