/*pet-list*/


.pet-list {
  @include normallized-list();
  display: grid;
  width: 100%;
  padding-left: calc(52px + var(--page-box-horizontal-padding));
  padding-right: calc(52px + var(--page-box-horizontal-padding));
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  gap: 30px clamp(40px, 10vw - 37px, 90px);

  &--from-right {
    @for $i from 0 through 2 {
      .pet-list__item[data-number="#{$i}"] {
        transform: translateX((2 - $i) * 100% + (2 - $i) * (90/2) + 50) translateY(-150px) scale(0.5) rotate(35deg);
        animation: slider-fly-in-from-right 0.3s ease $i * 0.05s both;
        z-index: 2 - $i;
      }
    }
  }

  &--from-left {
    @for $i from 0 through 2 {
      .pet-list__item[data-number="#{$i}"] {
        transform: translateX(-1 * ($i) * 100% - ($i) * (90/2) - 50) translateY(-150px) scale(0.5) rotate(-35deg);
        animation: slider-fly-in-from-right 0.3s ease $i * 0.05s both;
        z-index: $i;
      }
    }
  }

  &--long {
    &.pet-list--from-right {
      @for $i from 0 to 4 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX(calc(((4 - $i) * 100%) + (4 - $i + 1) * 40px - 300px)) translateY(-150px) scale(0.5) rotate(35deg);
          animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
          z-index: 4 - $i;
        }
      }

      @for $i from 4 to 8 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX(calc(((8 - $i) * 100%) + (8 - $i + 1) * 40px - 300px)) translateY(-150px) scale(0.5) rotate(35deg);
          animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
          z-index: 8 - $i;
        }
      }
      
    }
  
    &.pet-list--from-left {
      @for $i from 0 to 4 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX(calc((-1 * ($i + 1) * 100%) - ($i + 1) * 40px + 300px)) translateY(-150px) scale(0.5) rotate(-35deg);
          animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
          z-index: $i;
        }
      }

      @for $i from 4 to 8 {
        .pet-list__item[data-number="#{$i}"] {
          $j: $i - 4;
          transform: translateX(calc((-1 * ($j + 1) * 100%) - ($j + 1) * 40px + 300px)) translateY(-150px) scale(0.5) rotate(-35deg);
          animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
          z-index: $j;
        }
      }
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    gap: 30px;
    margin: 0 auto;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    border-radius: 9px;
    background-color: var(--main-color-3rd);
    overflow: hidden;
    cursor: pointer;
    transition: filter 0.3s ease;

    &--square {
      border-radius: 0;
    }

    &:hover {
      .pet-list__link {
        background-color: var(--accent-font-color-2nd);
        border-color: var(--accent-font-color-2nd);
      }

      background-color: var(--main-color-1st);
      filter: drop-shadow(0px 0px 8px var(--main-color-4th));
    }
  }

  &__pet-name {
    order: 2;
    @include label-font-style-desktop();
  }

  &__pet-species {
    display: none;
    @include label-font-style-desktop();
  }

  &__pet-photo {
    order: 1;
    width: 100%;
    object-fit: cover;
  }

  &__pet-description {
    display: none;
    @include body-compact-font-style-desktop();
  }

  &__pet-vitals {
    display: none;
    @include body-compact-font-style-desktop();
    @include normallized-list();

    dt {
      @include body-term-compact-font-style-desktop();
    }

    dd {
      margin: 0;
    }
  }

  &__pet-vitals-line {
    position: relative;
    padding-left: 14px;
    display: flex;
    gap: 0.3em;

    &::after {
      position: absolute;
      content: "";
      inset: 0 auto 0 0;
      margin: auto 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--accent-color-1st);
    }
  }

  &__link {
    order: 3;
  }
}

.pet-list {

  &--long {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 30px 40px;
  }

  .pet-list__item {
    display: flex;
  }
}





@include for-tablet-portrait-down {
  .pet-list {
    grid-template-columns: repeat(2, 270px);
  }
}

@include for-tablet-portrait-down {
  .pet-list {
    &--from-right {
      @for $i from 0 through 1 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX((1 - $i) * 100% + (1 - $i) * (40/2) + 30) translateY(-150px) scale(0.5) rotate(35deg);
        }
      }
    }

    &--from-left {
      @for $i from 0 through 1 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX(-1 * ($i) * 100% - ($i) * (40/2) - 30) translateY(-150px) scale(0.5) rotate(-35deg);
        }
      }
    }

    &--long {
      &.pet-list--from-right {
        @for $i from 0 to 2 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc(((2 - $i) * 100%) + (2 - $i + 1) * 40px - 250px)) translateY(-150px) scale(0.5) rotate(35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: 2 - $i;
          }
        }

        @for $i from 2 to 4 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc(((4 - $i) * 100%) + (4 - $i + 1) * 40px - 250px)) translateY(-150px) scale(0.5) rotate(35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: 4 - $i;
          }
        }
  
        @for $i from 4 to 6 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc(((6 - $i) * 100%) + (6 - $i + 1) * 40px - 250px)) translateY(-150px) scale(0.5) rotate(35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: 6 - $i;
          }
        }
        
      }
    
      &.pet-list--from-left {
        @for $i from 0 to 2 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc((-1 * ($i + 1) * 100%) - ($i + 1) * 40px + 250px)) translateY(-150px) scale(0.5) rotate(-35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: $i;
          }
        }

        @for $i from 2 to 4 {
          .pet-list__item[data-number="#{$i}"] {
            $j: $i - 2;
            transform: translateX(calc((-1 * ($i + 1) * 100%) - ($i + 1) * 40px + 250px)) translateY(-150px) scale(0.5) rotate(-35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: $j;
          }
        }
  
        @for $i from 4 to 6 {
          .pet-list__item[data-number="#{$i}"] {
            $j: $i - 4;
            transform: translateX(calc((-1 * ($j + 1) * 100%) - ($j + 1) * 40px + 250px)) translateY(-150px) scale(0.5) rotate(-35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: $j;
          }
        }
      }
    }
  }
}

@include for-phone-portrait-down {
  .pet-list {
    // gap: 30px 40px;
    grid-template-columns: repeat(1, 270px);
    padding-left: 0;
    padding-right: 0;

    &--from-right {
      @for $i from 0 through 0 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX(($i) * 100% + ($i) * (40/2) + 30) translateY(-150px) scale(0.5) rotate(35deg);
        }
      }
    }

    &--from-left {
      @for $i from 0 through 0 {
        .pet-list__item[data-number="#{$i}"] {
          transform: translateX(-1 * ($i) * 100% - ($i) * (40/2) - 30) translateY(-150px) scale(0.5) rotate(-35deg);
        }
      }
    }

    &--long {
      &.pet-list--from-right {
        @for $i from 0 to 1 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc(((1 - $i) * 0%) + (1 - $i + 1) * 0px - 25px)) translateY(-150px) scale(0.5) rotate(35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: 1 - $i;
          }
        }

        @for $i from 1 to 2 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc(((2 - $i) * 0%) + (2 - $i + 1) * 0px - 25px)) translateY(-150px) scale(0.5) rotate(35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: 2 - $i;
          }
        }
  
        @for $i from 2 to 3 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc(((3 - $i) * 0%) + (3 - $i + 1) * 0px - 25px)) translateY(-150px) scale(0.5) rotate(35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: 3 - $i;
          }
        }
        
      }
    
      &.pet-list--from-left {
        @for $i from 0 to 1 {
          .pet-list__item[data-number="#{$i}"] {
            transform: translateX(calc((-1 * ($i + 1) * 0%) - ($i + 1) * 0px + 25px)) translateY(-150px) scale(0.5) rotate(-35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: $i;
          }
        }

        @for $i from 1 to 2 {
          .pet-list__item[data-number="#{$i}"] {
            $j: $i - 1;
            transform: translateX(calc((-1 * ($i + 1) * 0%) - ($i + 1) * 0px + 25px)) translateY(-150px) scale(0.5) rotate(-35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: $j;
          }
        }
  
        @for $i from 2 to 3 {
          .pet-list__item[data-number="#{$i}"] {
            $j: $i - 2;
            transform: translateX(calc((-1 * ($j + 1) * 0%) - ($j + 1) * 0px + 25px)) translateY(-150px) scale(0.5) rotate(-35deg);
            animation: slider-fly-in-from-right 0.1s ease $i * 0.05s both;
            z-index: $j;
          }
        }
      }
    }
  }
}