/*pet-list*/

.pet-list {
  display: flex;
  gap: 90px;
  overflow: hidden;
  @include normallized-list();

  &__item {
    display: none;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    gap: 30px;
    width: 270px;
    height: 435px;
    padding-bottom: 30px;
    border-radius: 9px;
    background-color: var(--main-color-3rd);
    overflow: hidden;
    cursor: pointer;

    &:hover {
      .pet-list__link {
        background-color: var(--accent-font-color-2nd);
        border-color: var(--accent-font-color-2nd);
      }
    }
  }

  &__pet-name {
    order: 2;
    @include label-font-style-desktop();
  }
  
  &__pet-species {
    display: none;
    @include label-font-style-desktop();
  }

  &__pet-photo {
    order: 1;
    width: 100%;
    object-fit: cover;
  }

  &__pet-description {
    display: none;
    @include body-compact-font-style-desktop();
  }

  &__pet-vitals {
    display: none;
    @include body-compact-font-style-desktop();
    @include normallized-list();

    dt {
      @include body-term-compact-font-style-desktop();
    }

    dd {
      margin: 0;
    }
  }

  &__pet-vitals-line {
    position: relative;
    padding-left: 14px;
    display: flex;
    gap: 0.3em;

    &::after {
      position: absolute;
      content: "";
      inset: 0 auto 0 0;
      margin: auto 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--accent-color-1st);
    }
  }

  &__link {
    order: 3;
  }
}

$show-item-count: 3;
.pet-list {
  $i: 1;
  @while $i <= $show-item-count {
    &--short &__item {
      &:nth-of-type(#{$i}) {
        display: flex;
      }
    }
    $i: $i + 1;
  }
  &--long {
    flex-wrap: wrap;
    gap: 40px;
    .pet-list__item {
      display: flex;
    } 
  }
}
