.button {
  padding: 10px 15px;
  border-style: none;
  border-radius: 20px;
  background-color: var(--main-color-7);
  font-family: inherit;
  color: var(--main-color-4);
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;

  svg {
    fill: var(--main-color-5);
  }

  &--accent {
    background-color: var(--accent-color-4);
    color: var(--accent-color-3);
  
    &:active {
      background-color: var(--accent-color-3);
      color: var(--accent-color-4);
    }
  }

  &--navigation,
  &--burger-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 0;
    background-color: var(--main-color-10);
  }

  &--navigation-prev {
    rotate: -180deg;
  }

  &--code {
    padding: 1px 3px;
    background-color: var(--main-color-1);
    border-style: solid;
    border-color: var(--main-color-5);
    border-width: 2px 2px 5px 2px;
    border-radius: 3px;
    font-size: 11px;

    @media (min-width: 1024px) {
      font-size: 14px;
    }

    &:hover {
      background-color: var(--main-color-2);
    }

    &:active {
      border-bottom-width: 2px;
    }
  }

  &--bordered {
    background-color: transparent;
    border: solid 2px rgba(white, 0.2);
    border-radius: 0;
  }

  
  &:hover {
    filter: brightness(0.9);
  }
    
  &:active {
    background-color: var(--main-color-4);
    color: var(--main-color-7);
  }
}